{% if latitude and longitude %}

    <div id="openmap_offre"  class="my-3 -z-10 h-[25rem] xl:h-[35rem] w-4/5 mx-auto"
         data-latitude="{{ latitude }}"
         data-longitude="{{ longitude }}">
    </div>
{#
    <script src="{{ template_uri() }}/assets/js/dist/js/appOl-jf.js" defer></script>
    <link rel="stylesheet" href="{{ template_uri() }}/assets/js/dist/css/ol-jf.css"/>
#}

  <script type="text/javascript" defer>
        const latitude = '{{ latitude }}';
        const longitude = '{{ longitude }}';
        const center = [latitude, longitude];
        const map = L.map('openmap_offre')
            .setView(center, 15);
        const nom = "{{ title|remove_html|raw }}";

        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            minZoom: 1,
            maxZoom: 20
        })
            .addTo(map);

        L.marker(center, {
            title: nom,
            draggable: true
        })
            .addTo(map);
    </script>

{% endif %}